body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);


}

#box {
    color: black;
    margin: 0;
    padding: 7em;
    background-color: rgb(30, 154, 170);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10em;
    margin-left: 30em;
    margin-right: 30em;
    border-radius: 15px;
    border-bottom-color: rgb(21, 173, 184);
    border:4px solid rgb(228, 228, 228);
    
}

#generator {
    border-radius: 18px;
    padding: 10px;
    color: black;
    font-size: medium;
    border-color:2px solid rgb(2, 8, 63);
    font-weight: bolder;
 
    
}